.pais{
  background-image: url("../../public/Hills.png");
  height: 778px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 32px;
  padding-left: 72px;
  padding-right: 80px;   
}

.paisAlumine{
display: flex;
justify-content: space-between;
}

.paisAlumineSisu{
  margin-top: 230px;
}

.pealkirjad{
  font-weight: 800;
  letter-spacing: 0;
  color:#0B0B0B;
  line-height:0%;
}

.nupp{
background-color: #0B0B0B; /* Black */
border: none;
height: 58px;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12.5px;
font-weight: 800;
width: 250px;
letter-spacing: 2.25px;
}

.paisAlumineSisuIkoon1{
  background-image: url("../../public/Butterfly@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
  width: 66px;  
  height: 75px;
  margin-left: 571px; 
  margin-bottom: -50px;   
}

.paisAlumineSisuH2{
  font-size: 40px;    
}

.paisAlumineSisuIkoon2{
  background-image: url("../../public/sinineliblikas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;      
  height: 32px;
  width: 60px;
  margin-left: -40px;
  margin-bottom: -55px;
}

.paisAlumineSisuH1{
  font-size: 74px;
}

.paisAlumineSisuH4{
  font-size: 21px;
}

.paisAluminePilt {
  background-image: url("../..//public/matkaja.png");
  height: 915px;
  width:915px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 32px;
  padding-left: 72px;
  padding-right: 80px;
  margin-right: -300px;
  border-radius: 500px;
  box-shadow: -2px 5px 14px 1px #4E4C4C;
}
.teine{
  padding-left: 80px;
  margin-top: 120px;
}

.teineYlemineH5Hall{
  color:grey;
  text-transform: uppercase;
  font-size: 42px;
}

.teineYlemineH6{
  font-size: 54px;
  font-weight: 600;
  line-height: 58.33px;
  margin:0;
  max-width: 500px;
}

.teineAlumine{
  display: flex;
  gap:34px;
  justify-content: space-between;    
}

.teineAlumineVasak{
  display:flex;
  flex-direction: column; 
  max-width: 500px; 
  margin-top: 25px; 
}

.teineAlumineVasakSection{

  letter-spacing: 0px;
  color:grey;
  font-size:21px;
  line-height:33px;
  margin-bottom: 150px;
}     
 

.teineAlumineVasakNooled{
  font-size: 50px;
  margin-bottom: 100px;
  display: flex; 
  align-items: center;
  margin-top: 150px;   
}

.nooledVasakParem {
  font-size: 72px;
}

.nooledKaldkriips {
  margin: 0 10px;
}

.nooledKaldkriipsKokkuLehekylgiParem {
  color: #9A9A9A;
}

.nooledKaldkriipsKokkuLehekylgi {
  font-size: 36px;
}

.nooledKokkuLehekylgi {
  margin-top: 6px;
}

.teineAlumineParem{
  display: flex;
  margin-top: 25px;
  margin-right: -150px;
}

.teineAlumineParemPilt{
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height:406px;
 width: 309px;
 margin-left: 34px;
}

.teineAlumineParemPilt1{
 background-image: url("../../public/Layer@2x.png");
 box-shadow: 28px 29px 199px, -16px #4E4C4C;
}

.teineAlumineParemPilt2{
  background-image: url("../../public/Noormees.png");
}

.teineAlumineParemPilt3{
  background-image: url("../../public/Kaart.png"); 
}